{% extends 'base.html' %}
{% load static %}

{% block title %}Widget's Calendar of Activities{% endblock title %}

{% block content %}
<i><h1>Widget's Calendar of Activities</h1></i>
{% for event in events %}
<p><strong>
    <a href="{{ event.get_absolute_url }}">
        <li>
            {{ event.activity }}
        </li>
    </a>
</strong></p>
{% endfor %}

<form action="events/add">
    <input type="submit" value="New Activity">
</form>

<div>
    <a href="../dashboard/">Dashboard</a><br>
    <a href="../announcements/">Announcements</a><br>
    <a href="../forum/">Forum</a><br>
    <a href="../assignments/">Assignments</a><br>    
</div>

{% endblock content %}