{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.activity }}{% endblock %}

{% block content %}
    <div style="text-transform:uppercase;">
        <h1>{{ object.activity }}</h1>
    </div>
    <h2>
        Date and Time: {{ object.get_date }}, {{ object.get_time }}<br>
        Estimated Hours: {{ object.estimated_hours }} <br>
        {{ object.course.code }} {{ object.course.title }} - {{ object.course.section }} <br>
        Mode: {{ object.location.mode }} <br>
        Venue: {{ object.location.venue }}
    </h2>

    <form action="edit">
        <input type="submit" value="Edit Activity">
    </form>
    
{% endblock %}
