{% extends 'base.html' %}
{% load static %}

{% block title %}Add Activity{% endblock %}

{% block content %}
<h1>Add a new activity:</h1>
<div class="new_user">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save New Activity</button>
    </form>
</div>
{% endblock %}
