{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Post{% endblock %}

{% block content %}

<h1>Edit Post</h1>

	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
	<input type="submit" value="Save Changes to Post">
	</form>

{% endblock %}