{% extends 'base.html' %}
{% load static %}

{% block title %}Widget's Forum{% endblock %}

{% block content %}

	<h1>Welcome to Widget's Forum!</h1>

	<h2>Forum Posts:</h2>

	<h3>
		{% for object in forum %}
			<a href="{{ object.get_absolute_url }}">{{object.title}} by {{object.author.first_name}} {{object.author.last_name}}</a>
		<br>
		{% endfor %}
	</h3>

	<br>

	<form action="forumposts/add">
	    <input type="submit" value="Add Post">
	</form>

	<h3>
		<a href="../dashboard/">Dashboard</a> <br>
		<a href="../announcements/">Announcements</a> <br>
		<a href="../assignments/">Assignments</a> <br>
		<a href="../calendar/">Calendar</a>
	</h3>

{% endblock %}