{% extends 'base.html' %}
{% load static %}

{% block title %}Add Post{% endblock %}

{% block content %}

<h1>Add a New Post:</h1>

	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
	<input type="submit" value="Save New Post">
	</form>

{% endblock %}