{% extends 'base.html' %}
{% load static %}

{% block title %}{{object.title}}{% endblock %}

{% block content %}

	<h1>{{object.title}}</h1>

	<h3>by {{object.author.first_name}} {{object.author.last_name}}</h3>
	<h3>{{object.pub_datetime|date:'m/d/Y, h:i A'}}</h3>
	<h3>{{object.body}}</h3>

	<br>

	<h2>POST REPLIES:</h2>

		{% for reply in object.forum_reply.all %}
			<h3>by {{reply.author.first_name}} {{reply.author.last_name}}</h3>
			<h3>{{reply.pub_datetime|date:'m/d/Y, h:i A'}}</h3>
			<h3>{{reply.body}}</h3>
			<br>
		{% endfor %}

	<form action="../edit/">
	    <input type="submit" value="Edit Post">
	</form>

{% endblock %}