{% extends 'base.html' %}
{% load static %}

{% block title %}{{object.title}}{% endblock %}

{% block content %}

    <h1>{{object.title}}</h1>

    <h3>by {{object.author.first_name}} {{object.author.last_name}}</h3>
    <h3>{{object.pub_datetime|date:'m/d/Y, h:i A'}}</h3>
    <h3>{{object.body}}</h3>

    {%for key, value in object.get_reactions.items%}
        <h3>{{key}}: {{value}}</h3>
    {% endfor%}

    <form action="../edit">
        <input type="submit" value="Edit Announcement">
    </form>

{% endblock %}
