{% extends 'base.html' %}
{% load static %}

{% block title %}Add Announcement{% endblock %}

{% block content %}

    <h1>Add a new Announcement</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Announcement">
    </form>

{% endblock %}
