{% extends 'base.html' %}
{% load static %}
{% block title %}Widget's Announcement Board{% endblock %}

{% block content %}

    <h1>Welcome to Widget's Announcement Board!</h1>
    
    <h3>
    {% for object in announcements %}     
        <a href="{{ object.get_absolute_url }}">
            {{object.title}} by {{object.author.first_name}} {{object.author.last_name}}
        </a>
        <br>
    {% endfor %}
    </h3>

    <form action="add">
        <input type="submit" value="Add Announcement">
    </form>
    
    <h3>
        <a href="../dashboard/">Dashboard</a><br>
        <a href="../forum/">Forum</a><br>
        <a href="../assignments/">Assignments</a><br>
        <a href="../calendar/">Calendar</a><br>
    </h3>

{% endblock %}
