{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Announcement{% endblock %}

{% block content %}

    <h1>Edit Announcement</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Changes to Announcement">
    </form>
        
{% endblock %}
