{% extends 'base.html' %}
{% load static %}

    {% block title %}Widget v2{% endblock %} 
    
    {% block content %}
    <i><h1>Welcome to Widget!</h1></i>
    <h3>Widget Users:</h3>
    {% for user in user %}
    <p><strong>
        <a href="{{ user.get_absolute_url }}">
            <li>
                {{ user.last_name }}, {{ user.first_name }}
            </li>
        </a>
    </strong></p>
    {% endfor %}
    <br><br>
    
    <a href="./widgetusers/add/">
        <button type="button"><p>Add Widget User</p></button>
    </a>

    <br><br><br>

    {# the links to other html files #}
    <div class = links>
        <a href="../announcements/">Announcement Board</a><br>
        <a href="../forum/">Forum</a><br>
        <a href="../assignments/">Assignments</a><br>
        <a href="../calendar/">Calendar</a><br>
    </div>
    {% endblock %}