{% extends 'base.html' %}
{% load static %}

    {% block title %}Edit Widget User{% endblock %}
    {% block content %}
    <h1>Edit Widget User:</h1>
    <div class="update_user">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save Changes to Widget User">
        </form>
    </div>
    {% endblock %}