{% extends 'base.html' %}
{% load static %}

    {% block title %} {{ object.last_name }}, {{ object.first_name }} {% endblock %}
    {% block content %}
    <div style="text-transform:uppercase;">
        <h1>{{ object.first_name }} {{ object.middle_name }} {{ object.last_name }}</h1>
    </div>
    <h2>
        {{ object.department.dept_name }} <br>
        {{ object.department.home_unit }} <br>
    </h2>

    <a href="../edit/">
        <button type="button"><p>Edit Widget User</p></button>
    </a>
    {% endblock %}