{% extends 'base.html' %}
{% load static %}

    {% block title %}Add Widget User{% endblock %}
    {% block content %}
    <h1>Add a new Widget user:</h1>
    <div class="new_user">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Widget User</button>
        </form>
    </div>
    {% endblock %}