<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href=" {% static '/css/style.css' %}">
    </head>
    <body style ="background-color: #afcaff;" >
        <div class="home-container">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>