{% extends 'base.html' %}
{% load static %}

    {% block title %}Widget's Assignments{% endblock %}

    {% block content %}
    <i><h1>Welcome to Widget's Assignments!</h1></i>

    {% for assignments in assignments %}
    <p><strong>
        <a href="{{ assignments.get_absolute_url }}">
            <li>
                {{ assignments.name }}
            </li>
        </a>
    </strong></p>
    {% endfor %}
    <br><br>

    <a href="add">
        <button type="button"><p>New Assignment</p></button>
    </a>

    <br><br><br>

    {# the links to other html files #}
    <div class = links>
        <a href="../dashboard/">Dashboard</a><br>
        <a href="../announcements/">Announcements</a><br>
        <a href="../forum/">Forum</a><br>
        <a href="../calendar/">Calendar</a><br>
    </div>
    {% endblock %}
