{% extends 'base.html' %}
{% load static %}

    {% block title %} Edit Assignment {% endblock %}
    {% block content %}
    <h1>Edit Assignment:</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Save Changes to Assignment">
    </form>
    <br>
    {% endblock %}
