{% extends 'base.html' %}
{% load static %}

    {% block title %} Add Assignment {% endblock %}
    {% block content %}
    <h1>Add a new assignment:</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Save New Assignment">
    </form>
    <br>
    {% endblock %}
