{% extends 'base.html' %}
{% load static %}

    {% block title %} {{ object.name }} {% endblock %}
    {% block content %}
    <div style="text-transform:uppercase;">
        <h1>{{ object.name }}</h1>
    </div>
    <h2>
        {{ object.course.code }} {{ object.course.title }}-{{ object.course.section }}
    </h2>
    <div>
      Description: {{ object.description }}<br>
      Perfect Score: {{ object.perfect_score }}<br>
      Passing Score: {{ object.passing_score }}<br>
    </div>
    <br>

    <a href="edit">
        <button type="button"><p>Edit Assignment</p></button>
    </a>
    {% endblock %}
